--
-- PostgreSQL database dump
--

-- Dumped from database version 13.4
-- Dumped by pg_dump version 13.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ct_tweets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ct_tweets (
    id character varying(20) NOT NULL,
    user_id character varying(20) NOT NULL,
    content character varying(280) NOT NULL,
    creation_date timestamp without time zone NOT NULL,
    cashtags character varying(200),
    sentiment character varying(10)
);


ALTER TABLE public.ct_tweets OWNER TO postgres;

--
-- Name: ct_users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ct_users (
    id character varying(20) NOT NULL,
    screen_name character varying(100) NOT NULL,
    user_name character varying(100) NOT NULL,
    number_followers integer,
    performance integer
);


ALTER TABLE public.ct_users OWNER TO postgres;

--
-- Data for Name: ct_tweets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ct_users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: ct_tweets ct_tweets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ct_tweets
    ADD CONSTRAINT ct_tweets_pkey PRIMARY KEY (id);


--
-- Name: ct_users ct_users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ct_users
    ADD CONSTRAINT ct_users_pkey PRIMARY KEY (id);


--
-- Name: ct_users ct_users_user_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ct_users
    ADD CONSTRAINT ct_users_user_name_key UNIQUE (user_name);


--
-- Name: ct_tweets ct_tweets_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ct_tweets
    ADD CONSTRAINT ct_tweets_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.ct_users(id);


--
-- PostgreSQL database dump complete
--

